web:
  build: php
{% if bind_apache %}
  ports:
   - "{{ bind_apache }}:80"
{% endif %}
  volumes:
   - {{ devhome | mandatory }}/projects:{{ devhome | mandatory }}/projects
  links: 
   - mysql
   - memcached
   - mail
   - elasticsearch
{% if proxy == 'docker-nginx-proxy' %}
  environment:
    VIRTUAL_HOST: {{ virtual_host | mandatory }}
{% endif %}
mysql:
  build: mysql
  environment:
    MYSQL_ROOT_PASSWORD: "root"
    MYSQL_USER: "develop"
    MYSQL_PASSWORD: "develop"
  ports:
{% if bind_mysql %}
   - "{{ bind_mysql }}:3306"
{% endif %}
  volumes:
   - {{ devhome | mandatory }}/projects/mysql/data:/var/lib/mysql
memcached:
  image: memcached:1.4.22
{% if bind_memcached %}
  ports:
   - "{{ bind_memcached }}:11211"
{% endif %}
mail:
  build: mail
  volumes:
   - {{ devhome | mandatory }}/projects/mail:/var/mail
elasticsearch:
  image: elasticsearch:1.4.4
  ports:
{% if bind_elasticsearch_9200 %}
    - "{{ bind_elasticsearch_9200 }}:9200"
{% endif %}
{% if bind_elasticsearch_9300 %}
    - "{{ bind_elasticsearch_9300 }}:9300"
{% endif %}
  volumes:
    - "elasticsearch/data:/usr/share/elasticsearch/data"
