web:
  build: php
  ports:
   - "8081:80"
  volumes:
   - {{ devhome | mandatory }}/projects:{{ devhome | mandatory }}/projects
  links: 
   - mysql
   - memcached
   - mail
   - elasticsearch
mysql:
  build: mysql
  environment:
    MYSQL_ROOT_PASSWORD: "root"
    MYSQL_USER: "develop"
    MYSQL_PASSWORD: "develop"
  ports:
   - "3306:3306"
  volumes:
   - {{ devhome | mandatory }}/projects/mysql/data:/var/lib/mysql
memcached:
  build: memcached
mail:
  build: mail
  volumes:
   - {{ devhome | mandatory }}/projects/mail:/var/mail
elasticsearch:
  image: dockerfile/elasticsearch
  ports:
    - "9200:9200"
    - "9300:9300"
  volumes:
    - "elasticsearch/data:/data"
  command: "/elasticsearch/bin/elasticsearch -Des.config=/data/elasticsearch.yml"
