web:
  build: php
  ports:
   - "8081:80"
  volumes:
   - {{ devhome | mandatory }}/projects:{{ devhome | mandatory }}/projects
  links: 
   - mysql
   - memcached
mysql:
  build: mysql
  environment:
    MYSQL_ROOT_PASSWORD: "root"
    MYSQL_USER: "develop"
    MYSQL_PASSWORD: "develop"
  ports:
   - "3306:3306"
  volumes:
   - {{ devhome | mandatory }}/projects/mysql/data:/var/lib/mysql
memcached:
  build: memcached
