#!/bin/bash -e

if [ "$#" -ne 1 ]; then
    echo "First parameter must be the database name."
    exit 1
fi

echo "CREATE DATABASE IF NOT EXISTS $1 ; GRANT ALL ON $1.* TO 'develop'@'%' ; "
echo "CREATE DATABASE IF NOT EXISTS $1 ; GRANT ALL ON $1.* TO 'develop'@'%' ; " | mysql -u root --protocol=TCP -h localhost -P 3306 -proot
