#!/bin/bash -e

if [[ $PWD/ = {{ devhome | mandatory }}/projects/* ]]; then
    docker exec -it projectsphp_web_1 {{ devhome | mandatory }}/runindir "$PWD" "${@}"
else
    docker exec -it projectsphp_web_1 "${@}"
fi
