#!/bin/bash -e

if [ "$#" -ne 1 ]; then
    echo "First parameter must be the database name."
    exit 1
fi

echo "CREATE DATABASE IF NOT EXISTS $1 ;"
echo "CREATE DATABASE IF NOT EXISTS $1 ;" | mysql -u develop --protocol=TCP -h localhost -P 3306 -pdevelop