<VirtualHost *:80>
  ServerName {SERVERNAME}
#  ServerAlias example.com

  ServerAdmin root@localhost
  DocumentRoot {PATH}

  <Directory {PATH}>
      Options ExecCGI Indexes FollowSymLinks
      AllowOverride All
      Order deny,allow
      Allow from all
      Require all granted
  </Directory>

  ErrorLog /dev/stderr
  CustomLog /dev/stdout combined

</VirtualHost>