<VirtualHost *:80>
  ServerAdmin root@localhost
  DocumentRoot {{ devhome | mandatory }}/projects
 
  <Directory {{ devhome | mandatory }}/projects/>
      Options Indexes FollowSymLinks MultiViews
      AllowOverride All
      Order deny,allow
      Allow from all
      Require all granted
  </Directory>
 
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
 
</VirtualHost>
